@font-face {
    font-family: F1Regular;
	src: url('../font/formula1-display-bold/Formula1-Regular_web_0.ttf') format('woff2');
}

@font-face {
    font-family: F1Blod;
	src: url('../font/formula1-display-bold/Formula1-Bold_web_0.ttf') format('woff2');
}

@font-face {
    font-family: F1Wide;
	src: url('../font/formula1-display-bold/Formula1-Wide_web_0.ttf') format('woff2');
}

.TeamsCard{
    width: 788px; 
    height: 256px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardsTop{
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    /* background-color: #a84300; */
}

.TeamsName{
    font-family: F1Blod;
    font-size: 1.5rem;
}

.TopLeft{
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Drivers{
    display: flex;
    height: 20px;
    width: 246.89px;
    justify-content: space-between;
}

.DriverLeft{
    display: flex;
    width: 113.5px;
    height: 20px;
    justify-content: space-between;
}

.DriverRight{
    display: flex;
    width: 113.5px;
    justify-content: space-between;
}

.imgBackground{
    width: 20px;
    height: 20px;
    clip-path: circle(50% at 50% 50%);
}

.Driversimg{
    width: 20px;
    background-color: #f47600;
    clip-path: inset(0 0 70% 0);
}

.DriverName{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-family: F1regular;
}

.TopRightLogo{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #863400;
    clip-path: circle(50% at 50% 50%);
}

.TopRightLogo img{
    width: 36px;
    height: 36px;
}

.CardDownBackground{
    position: relative;
    display: flex;
    align-items: center;
}

.maskimg{
    display: flex;
    align-items: flex-end;
    margin-left: -145px;
    height: 150px;
    width: 914.72px;
    opacity: 1;
    background-color: #f47600;
    mask-image: url('../assets/DRS-D-2x~eefRDGxF.b150f948.PNG');
    mask-repeat: no-repeat;
    mask-size: cover;
    position: absolute;
}

.CardDownBackground img{
    z-index: 1;
    width: 454.5px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.MclTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: orange;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #863400, #d85e0d 60%, #ff7010c4 100%);
}
/* ---------------------------------------------------------------------------------------------------------------- */
.MerTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #007560;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #007560,#008b72ee 60%, #00dab9d3 100%);
}

.MerTeamsCard .maskimg{
    background-color: #00d7b6;
}

.MerTeamsCard .Driversimg{
    background-color: #00d7b6;
}

.MerTeamsCard .TopRightLogo{
    background-color: #007560;
}
/* --------------------------------------------------------------------------------------------------------------- */
.FerTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #710006;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #710006 0%,#a7070fe1 60%, #ee000cd0 100%);
}

.FerTeamsCard .maskimg{
    background-color: #ed1131;

}

.FerTeamsCard .Driversimg{
    background-color: #ed1131;
}

.FerTeamsCard .TopRightLogo{
    background-color: #710006;
}
/* ---------------------------------------------------------------------------------------------------------------- */
.RBRTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #003282;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #003282 0%,#0046b6 60%, #3f7bd6ec 100%);
} 

.RBRTeamsCard .maskimg{
    background-color: #4781d7;
}

.RBRTeamsCard .Driversimg{
    background-color: #4781d7;
}

.RBRTeamsCard .TopRightLogo{
    background-color: #003282;
}
/* ----------------------------------------------------------------------------------------------------------------- */
.WilliamsTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #000681;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #000681 0%,#0009b9 60%, #1869dbda 100%);
} 

.WilliamsTeamsCard .maskimg{
    background-color: #1868db;
}

.WilliamsTeamsCard .Driversimg{
    background-color: #1868db;
}

.WilliamsTeamsCard .TopRightLogo{
    background-color: #000681;
}
/* ------------------------------------------------------------------------------------------------------------------- */
.RBTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #2345ab;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #2345ab 0%,#3e78ff 60%, #5d8dfce3 100%);
} 

.RBTeamsCard .maskimg{
    background-color: #6c98ff;
}

.RBTeamsCard .Driversimg{
    background-color: #6c98ff;
}

.RBTeamsCard .TopRightLogo{
    background-color: #2345ab;
}
/* ---------------------------------------------------------------------------------------------------------- */
.AMTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #00482c;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #00482c 0%,#00774a 60%, #068655c5 100%);
} 

.AMTeamsCard .maskimg{
    background-color: #229971;
}

.AMTeamsCard .Driversimg{
    background-color: #229971;
}

.AMTeamsCard .TopRightLogo{
    background-color: #00482c;
}
/* --------------------------------------------------------------------------------------------------------- */
.KSTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #006300;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #006300 0%,#019901 60%, #0baf0bc2 100%);
} 

.KSTeamsCard .maskimg{
    background-color: #01c00e;
}

.KSTeamsCard .Driversimg{
    background-color: #01c00e;
}

.KSTeamsCard .TopRightLogo{
    background-color: #006300;
}
/* --------------------------------------------------------------------------------------------------------------- */
.HaasTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #4d5052;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #4d5052 0%,#777a7e 60%, #8e9194d0 100%);
} 

.HaasTeamsCard .maskimg{
    background-color: #9c9fa2;
}

.HaasTeamsCard .Driversimg{
    background-color: #9c9fa2;
}

.HaasTeamsCard .TopRightLogo{
    background-color: #4d5052;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.AlpineTeamsCard {
  display: flex;
  flex-direction: column;
  background-color: #005081;
  border-radius: 8px;
  /* height: 250px;*/

  
  /* 漸層底色 */
  background: linear-gradient(to right, #005081 0%,#007bc7 60%, #0087dbc5 100%);
} 

.AlpineTeamsCard .maskimg{
    background-color: #00a1e8;
}

.AlpineTeamsCard .Driversimg{
    background-color: #00a1e8;
}

.AlpineTeamsCard .TopRightLogo{
    background-color: #005081;
}